<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% block head %}
	<title>
		{% block title %}{% endblock -%}
	</title>

	{% block meta -%}{% endblock -%}
	{% block links -%}{% endblock -%}
	{% block style -%}{% endblock -%}
	{% endblock -%}
</head>

<body>
{%- block body %}{% endblock -%}
{%- block assets %}{% endblock -%}
<script>
	// {{ title }} script using test/default template
</script>
{%- block script %}{% endblock -%}
</body>
</html>
